// _global.scss

// Colores
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;

/**
Fuentes
*/
$font-title: "Alegreya", serif;

%base-title {
  font-family: $font-title;
  color: $dark-green-text;
}