body {
  background-color: #fffbf7 !important;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.logo {
  width: 15%;
}

.logo>img {
  width: 15%;
}

.navbar {
  background-color: #fffbf7;
  text-align: center;
  color: #025157;
  font-weight: 500;

  ul {
    padding: 0;
  }
}

.actions {
  text-align: right;
  font-size: 14px;

  & > * {
    margin: 0 10px;
  }

  a {
    color: #67b54b;
  }

  button {
    background-color: #67b54b;
    color: white;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
  }
}

/* Aqui van los estilos que copiamos de las otras páginas que funcionan */

.top-features {
  padding: 30px 0 65px;
  margin-top: 150px;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;

  h1 {
    color: #025157;
    font-family: 'Alegreya', serif;
    font-weight: 700;
  }
}

.feature__img {
  img {
    width: 100%;
  }
}

.feature__title__anchor {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 24px;

    .feature__title {
      margin-top: 50px;
      font-weight: 500;
      font-size: 24px;
      font-family: 'Open Sans',sans-serif;
      margin-bottom: 35px;
      text-decoration: none;
      text-shadow: #025157 1px 1px 2px;
      transition: color .3s ease-in-out;
      transition: font-size 3s;
      // Documentación
      // https://developer.mozilla.org/es/docs/Web/CSS/transition
      // transition-property: ;
      // transition-duration: ;
      // transition-timing-function: ;
    
      &:hover {
        color:#67b54b;
        font-size: 30px;
      }
    }
}
