@use 'global' as *;

.blog {
  background-color: #ffffff;
  max-width: unset;
  padding: 5% 10%;

  .title {
    @extend %base-title;
  }

  .process-list {
    margin-top: 40px;
    margin-bottom: 36px;

    .process {
      margin-bottom: 25px;

      & > div {
        & > h3 {
          color: $dark-green-title;
          margin-bottom: 0;
          font-size: 30px;
          font-weight: 500;
        }
        & > p {
          color: $dark-green-text;
          margin: 0;
        }
      }

      .process-icon {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        text-align: center;

        img {
          height: 100%;
        }
      }
    }
  }

  button {
    height: auto;
    border-radius: 8px;
    padding: 12px;
    width: 180px;
    margin-bottom: 15px;
  }

  .card-title {
    font-size: 22px;
    color: $gray;
  }

  .metadata {
    font-size: 16px;

    .category {
      color: $light-green;
    }
  }

  .card-text {
    color: $gray;
    font-size: 14px;

    .read-more {
      text-decoration: underline;
    }
  }

  .author {
    img {
      border-radius: 50%;
      width: 35px;
      height: 35px;
    }

    p {
      margin-left: 5px;
      margin-top: 10px;
      font-weight: 500;
      font-size: 12px;
      color: $gray;
    }
  }
}