/** pricing.css */
@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    margin-bottom: 24px;
}

.header p {
    color: #46484c;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 72px;
}

main {
    margin-top: 285px;
    text-align: center;
}

body {
    background-color: #fffbf7;
    font-family: "Open Sans", sans-serif;
}

.logo {
    width: 15%;
}

.logo>img {
    width: 15%;
}

.navbar {
    background-color: #fffbf7;
    text-align: center;
}

.navbar-light .nav-item .nav-link {
    color: #025157;
}

.navbar-light .navbar-toggler {
    border-color: #025157;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.actions {
    text-align: right;
    font-weight: 600;
    font-size: 14px;
}

.actions>* {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

.faq {
  margin-top: 50px;
  padding-bottom: 120px;
}

.faq h2 {
  color: #025157;
  font-family: "Alegreya", serif;
}

.faq .card-header {
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.faq h2 > button {
  color: #025157;
  font-size: 28px;
  font-weight: 900;
}

.faq .card .card-body a {
  color: #6abf4b;
}

@media (max-width: 575px) {
  .container {
    display: flex;
  }

  .container .row {
    flex-direction: column;
  }

  main {
    margin-top: 130px;
    padding: 5%;
  }

  h1 {
    font-size: 30px;
  }

  .logo {
    width: 40%;
  }
}